<div class="main-tab-content">

  <div class="tab-header">
    <h5>Media assets</h5>
  </div>

  <div class="tabContent">
    <div class="tabContentHeader">
      <a class="blueBtn" id="" data-toggle="modal" data-target="#mediaAssetModal" (click)="resetMediaAssetPopup()">
        Create media asset
      </a>
      <div class="search-container">
        <input type="text" name="" placeholder="Search media asset" id="txtSearchMedia" />
        <img src="{{websiteRoot}}/{{imgurl}}/search-icon.png" alt="Media Asssets" style="cursor:pointer;" (click)="searchMedia()" />
      </div>
    </div>
    <div class="tabContentArea">
      <div data-loading></div>
      <div class="table-responsive custom-table">
        <table datatable [dtOptions]="mediaAssetsOptions" [dtTrigger]="mediaAssetsdtTrigger" class="table">
          <thead>
            <tr>
              <th>Media asset</th>
              <th>Media code</th>
              <th>Media group</th>
              <th>Media type</th>
              <th>Logo</th>
              <th>Rate cards</th>
              <th>Ad adjustments</th>
              <th>Issue dates</th>
              <th>Inventory</th>
              <th></th>
            </tr>
          </thead>
          <tbody *ngIf="this.mediaAssetsModel.MediaAssetData?.length > 0">
            <tr *ngFor="let row of this.mediaAssetsModel.MediaAssetData; let idx = index">
              <td>{{row.MediaAssetName}}</td>
              <td>{{row.MediaCode}}</td>
              <td>{{row.MediaAssetGroupName}}</td>
              <td>{{row.MediaTypeName}}</td>
              <td>
                <img class="setThumbnailImageWidthHeight" src="{{row.ThumbLogo}}" alt="" />
              </td>
              <td>
                <a (click)="ratecard(row.MediaAssetId, row.MediaAssetName)" title="Rate Card">
                  {{row.NumberOfActiveRateCards}} Active</a>
              </td>
              <td>
                <a (click)="adjustment(row.MediaAssetId, row.MediaAssetName)" title="Ad Adjustment">Add New</a>
              </td>
              <td>
                <a (click)="issueDates(row.MediaAssetId, row.MediaAssetName)" title="Issue Date">
                  <img src="{{websiteRoot}}/{{imgurl}}/calendar-icon.png" alt="" />
                </a>
              </td>
              <td>
                <a (click)="inventory(row.MediaAssetId, row.MediaAssetName)" title="Inventory">
                  <img src="{{websiteRoot}}/{{imgurl}}/inventory-icon.png" alt="" />
                </a>
              </td>
              <td class="actions">
                <a (click)="getUpdateMediaAssetData(row.ProductCode, row.MediaAssetId, row.MediaAssetGroupId,
                    row.MediaTypeId, row.MediaTypeName, row.Logo, row.MediaGroupName, row.MediaAssetName,
                    row.MediaCode)"
                  title="Edit" data-toggle="modal" data-target="#mediaAssetModal">
                  <img src="{{websiteRoot}}/{{imgurl}}/edit-icon.png" alt="" />
                </a>
                <a (click)="delete(row.MediaAssetId, idx)" title="Delete">
                  <img src="{{websiteRoot}}/{{imgurl}}/delete-icon.png" alt="" />
                </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Create Media Asset Modal-->
<div class="modal fade bs-example-modal-sm mampopup in" id="mediaAssetModal" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <form id="mediaAssetsForm" [formGroup]="mediaAssetsForm" (ngSubmit)="saveMediaAsset()">

        <div class="modal-body">

          <div class="form-group">
            <label for="mediaassetname" class="asteriskRequired">Media asset</label>
            <input formControlName="MediaAsset" type="text" class="form-control" placeholder="Enter media asset name" />
            <div *ngIf="isValidMediaAsset"
              class="text-danger">
              <span *ngIf="mediaAssetsForm.controls['MediaAsset'].hasError('required') ">
                Asset is required.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="mediacode" class="asteriskRequired">Code</label>
            <input type="text" formControlName="MediaCode" placeholder="Enter media code" class="form-control">
            <div *ngIf="isValidMediaCode"
              class="text-danger">
              <span *ngIf="mediaAssetsForm.controls['MediaCode'].hasError('required') ">
                Code is required.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="mediaItem" class="asteriskRequired">Item code</label>
            <div class="clearfix"></div>

            <ng-select formControlName="ProductCode" placeholder="Select item code">
              <ng-option *ngFor="let items of this.mediaAssetsModel.MediaAssetItemCode" [value]="items.ItemId">
                {{items.ItemCode + " " + "(" + items.Name +")"}}
              </ng-option>
            </ng-select>

            <div *ngIf="isValidProductCode"
              class="text-danger">
              <span *ngIf="mediaAssetsForm.controls['ProductCode'].hasError('required') ">
                Code is required.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="mediagroup" class="asteriskRequired">Group</label>
            <a class="add-link" data-toggle="modal" title="Add new media group" data-target="#mediaAssetGroupModal">
              <img src="{{websiteRoot}}/{{imgurl}}/add-icon.png" alt="" />
            </a>
            <div class="clearfix"></div>
            <ng-select formControlName="MediaGroup" placeholder="Select media group">
              <ng-option *ngFor="let items of this.mediaAssetsModel.MediaAssetGroupData" [value]="items.MediaAssetGroupId">
                {{items.Name}}
              </ng-option>
            </ng-select>

            <div *ngIf="isValidMediaGroup"
              class="text-danger">
              <span *ngIf="mediaAssetsForm.controls['MediaGroup'].hasError('required') ">
                Media group is required.
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="mediatype" class="asteriskRequired">Type</label>
            <a class="add-link" data-toggle="modal" title="Add new media type" data-target="#mediaAssetTypeModal">
              <img src="{{websiteRoot}}/{{imgurl}}/add-icon.png" alt="" />
            </a>
            <div class="clearfix"></div>

            <ng-select formControlName="MediaType" placeholder="Select media type">
              <ng-option *ngFor="let items of this.mediaAssetsModel.MediaAssetTypeData" [value]="items.MediaTypeId">
                {{items.Name}}
              </ng-option>
            </ng-select>

            <div *ngIf="isValidMediaType"
              class="text-danger">
              <span *ngIf="mediaAssetsForm.controls['MediaType'].hasError('required') ">
                Media type is required.
              </span>
            </div>
          </div>

          <div class="form-group custom-upload">
            <label for="file-upload" class="custom-file-upload">
              <img *ngIf="dummyLogo == null" src="{{websiteRoot}}/{{imgurl}}/upload-icon.png" alt="upload" style="height:70px !important; width:auto;" />
              <img *ngIf="dummyLogo" src="{{dummyLogo}}" alt="upload" style="height:70px !important; width:auto;" /> Upload logo
            </label>
            <input id="file-upload" formControlName="image" class="mediaAsset-Logo" type="file" (change)="detectFiles($event)" />
          </div>

        </div>
        <div class="modal-footer">
          <button id="btnMediaAssets" type="submit" class="blueBtn">Create Media Asset</button>
          <button class="blueBtn" type="button" data-dismiss="modal">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>


<!--mediaAssetGroup Modal Html-->
<form id="mediaAssetGroupForm" [formGroup]="mediaAssetGroupForm" (ngSubmit)="saveMediaAssetGroupForm()">
  <div>
    <div class="modal fade bs-example-modal-sm mampopup in" data-dismiss="modal" id="mediaAssetGroupModal" tabindex="-1"
      role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="form-group">
              <label for="MediaAssetGroupName" class="asteriskRequired">Name</label>
              <input formControlName="MediaAssetGroupName" type="text" class="form-control" placeholder="Enter media asset group name">
              <div *ngIf="isValidMediaGroupName"
                class="text-danger">
                <span *ngIf="mediaAssetGroupForm.controls['MediaAssetGroupName'].hasError('required') ">
                  Media asset group is required.
                </span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="btnMediaAssetGroup" class="blueBtn">Create
            </button>
            <button class="blueBtn" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!--mediaAssetType Modal Html-->
<form id="mediaAssetTypeForm" [formGroup]="mediaAssetTypeForm" (ngSubmit)="saveMediaAssetTypeForm()">
  <div>
    <div class="modal fade bs-example-modal-sm mampopup in" data-dismiss="modal" id="mediaAssetTypeModal" tabindex="-1"
      role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="form-group">
              <label for="MediaAssetTypeName" class="asteriskRequired">Type</label>
              <input formControlName="MediaAssetTypeName" type="text" class="form-control" placeholder="Enter media type name">
              <div *ngIf="isValidMediaTypeName"
                class="text-danger">
                <span *ngIf="mediaAssetTypeForm.controls['MediaAssetTypeName'].hasError('required') ">
                  Media asset type is required.
                </span>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="btnMediaAssetGroup" class="blueBtn">Create
            </button>
            <button class="blueBtn" type="button" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

