<div controller="RateCardController">
    <div class="main-tab-content">
        <div class="tab-header">
            <h5>Rate cards for
                <span>{{mediaAssetsName}}</span>
            </h5>
        </div>
        <div class="tabContent">
            <div class="tabContentHeader">
                <div class="tabContentHeaderTitle">
                </div>
                <div class="search-container">
                    <input type="text" name="" placeholder="Search rate cards" id=txtSearchRateCard />
                    <img src="{{websiteRoot}}/{{imgurl}}/search-icon.png" alt="Search Rate Cards" style="cursor:pointer;" (click)="searchRateCard()" />
                </div>
            </div>
            <div class="tabContentArea">
                <div class="row">
                    <form id="rateCardForm" [formGroup]="rateCardForm" (ngSubmit)="saveRateCard()">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="RateCardName" class="asteriskRequired">Rate card name</label>
                                <input type="text" formControlName="RateCardName" class="form-control" placeholder="Enter rate card name">
                                <div *ngIf="isValidRateCardName"
                                    class="text-danger">
                                    <span *ngIf="rateCardForm.controls['RateCardName'].hasError('required') ">
                                        Rate card name is required.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">

                                <label for="AdType" class="asteriskRequired">Ad type</label>
                                <a class="add-link" data-toggle="modal" title="Ad type" data-target="#adTypeModal">
                                    <img src="{{websiteRoot}}/{{imgurl}}/add-icon.png" alt="" />
                                </a>

                                <div class="clearfix"></div>
                                <ng-select formControlName="AdType" placeholder="Select ad type" [items]="this.rateCardModel.AdTypeData" bindLabel="Name"
                                    bindValue="AdTypeId">
                                </ng-select>


                                <div *ngIf="isValidAdType"
                                    class="text-danger">
                                    <span *ngIf="rateCardForm.controls['AdType'].hasError('required') ">
                                        Ad type is required.
                                    </span>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="MediaType" class="asteriskRequired">Media type </label>
                                <div class="clearfix"></div>

                                <ng-select formControlName="MediaType" placeholder="Select media type" [items]="this.rateCardModel.MediaTypeData" bindLabel="Name"
                                    bindValue="MediaTypeId">
                                </ng-select>


                                <div *ngIf="isValidMediaType"
                                    class="text-danger">
                                    <span *ngIf="rateCardForm.controls['MediaType'].hasError('required') ">
                                        Media type is required.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="MediaBillingMethod" class="asteriskRequired">Media billing method </label>
                                <div class="clearfix"></div>

                                <ng-select formControlName="MediaBillingMethod" placeholder="Select media billing method" [items]="this.rateCardModel.MediaBillingData"
                                    bindLabel="Name" bindValue="MediaBillingMethodId">
                                </ng-select>


                                <div *ngIf="isValidMediaBillingMethod"
                                    class="text-danger">
                                    <span *ngIf="rateCardForm.controls['MediaBillingMethod'].hasError('required') ">
                                        Media billing method is required.
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="ValidFromDate" class="asteriskRequired">From</label>

                                <div class="input-group date" data-date-format="mm/dd/yyyy">
                                    <input type="text" class="form-control datepicker" [bsConfig]="{containerClass: 'theme-default' }" formControlName="ValidFromDate"
                                        placeholder="Select issue date" bsDatepicker>

                                    <div class="input-group-addon">
                                        <img src="{{websiteRoot}}/{{imgurl}}/calendar-icon-bw.png" alt="" />
                                    </div>
                                    <div *ngIf="isValidFromDate"
                                        class="text-danger">
                                        <span *ngIf="rateCardForm.controls['ValidFromDate'].hasError('required') ">
                                            From date is required.
                                        </span>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group">
                                <label for="ValidToDate" class="asteriskRequired">To</label>
                                <div class="input-group date">
                                    <input type="text" [bsConfig]="{containerClass: 'theme-default' }" class="form-control" formControlName="ValidToDate" placeholder="Select issue date"
                                        bsDatepicker>
                                    <div class="input-group-addon">
                                        <img src="{{websiteRoot}}/{{imgurl}}/calendar-icon-bw.png" alt="" />
                                    </div>
                                    <div *ngIf="isValidToDate"
                                        class="text-danger">
                                        <span *ngIf="rateCardForm.controls['ValidToDate'].hasError('required') ">
                                            To date is required.
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="blueBtn createBtn" id="btnRateCard">Create</button>
                            </div>
                        </div>
                    </form>
                    <div class="col-md-9">
                        <div data-loading></div>
                        <div class="table-responsive custom-table">
                            <table class="table" id="tblrateCarddtOptions" datatable [dtOptions]="rateCarddtOptions" [dtTrigger]="rateCarddtTrigger">
                                <thead>
                                    <tr>
                                        <th>Rate card name</th>
                                        <th>Ad type</th>
                                        <th>Media type</th>
                                        <th>Media billing method</th>
                                        <th>Copy
                                            <a class="tip" tabindex="0" data-toggle="popover" data-trigger="focus" data-content="All rate card details will<br> be copied as well.">(?)</a>
                                        </th>
                                        <th>Validity from</th>
                                        <th>Validity to</th>
                                        <th style="min-width:75px;"></th>
                                    </tr>
                                </thead>

                                <tbody *ngIf="this.rateCardModel.RateCardData.length > 0">
                                    <tr *ngFor="let row of this.rateCardModel.RateCardData; let idx = index">
                                        <td>
                                            <a style="cursor: pointer" (click)="redirectToRateCardsDetails(row.RateCardId, row.Name, row.AdTypeName)" title="rate cards details">
                                                {{row.Name}}
                                            </a>
                                        </td>
                                        <td>{{row.AdTypeName}}</td>
                                        <td>{{row.MediaTypeName}}</td>
                                        <td>{{row.MediaBillingMethodName}}</td>
                                        <td>
                                            <a (click)="copyRateCard(row.Name, row.AdTypeId,
                                            row.MediaTypeId, row.MediaBillingMethodId, row.ValidFromDate,row.ValidToDate)"
                                                title="copy">
                                                <img src="{{websiteRoot}}/{{imgurl}}/copy-icon.png" alt="copy" />
                                            </a>
                                        </td>
                                        <td>{{row.ValidFromDate | date:'MM/dd/yyyy'}}</td>
                                        <td>{{row.ValidToDate | date:'MM/dd/yyyy'}}</td>
                                        <td class="actions">
                                            <a (click)="editRateCard(row.RateCardId, row.Name, row.AdTypeName, row.AdTypeId,row.MediaTypeName,
                                            row.MediaTypeId, row.MediaBillingMethodName, row.MediaBillingMethodId, row.ValidFromDate,row.ValidToDate)"
                                                title="Edit" data-toggle="modal" data-target="#mediaAssetModal">
                                                <img src="{{websiteRoot}}/{{imgurl}}/edit-icon.png" alt="" />
                                            </a>
                                            <a (click)="delete(row.RateCardId, idx)" title="Delete">
                                                <img src="{{websiteRoot}}/{{imgurl}}/delete-icon.png" alt="" />
                                            </a>
                                        </td>
                                    </tr>

                                </tbody>


                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Ad Type Modal Html-->
    <form id="adTypeModalForm" [formGroup]="adTypeModalForm" (ngSubmit)="saveAdType()">
        <div>
            <div class="modal fade bs-example-modal-sm mampopup in" id="adTypeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="form-group">
                                <input formControlName="AdTypeName" type="text" class="form-control" placeholder="Enter ad type">
                                <div *ngIf="isValidAdTypeName"
                                    class="text-danger">
                                    <span *ngIf="adTypeModalForm.controls['AdTypeName'].hasError('required') ">
                                        Ad type name is required.
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" id="btnAdType" class="blueBtn">Create
                            </button>
                            <button class="blueBtn" type="button" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
