
<div class="row">
    <div class="col-sm-12">
        <h2 class="mamTitle"><img src="{{websiteRoot}}/{{imgurl}}/mam-icon.png" alt="" class="mamTitleImg" />Media asset management</h2>
        <div class=""></div>
    </div>
</div>

<div *ngIf="isLoading" class="loading-spiner">
    <img class="progressP" src="{{websiteRoot}}/{{imgurl}}/loader-elipses.gif" />
</div>

<div>
    <div class="step-wizard">

        <ul class="nav nav-tabs responsive-tabs" data-tabs="tabs">

            <li role="presentation" class="liTabPointer" [ngClass]="{'active':mediaAssetTab, 'noclick':mediaAssetDisable, 'setPointer':setCursorPointer}">
                <a id="media-assets-tab" (click)="setMediaAssetsTabActive()" data-target="#media-assets" data-toggle="tab">
                    Media assets
                </a>
            </li>

            <li role="presentation" class="liTabPointer" [ngClass]="{'active':issueDateTab, 'noclick':issueDateTabDisable, 'setPointer':setCursorPointer}">
                <a id="issue-dates-tab" (click)="setIssueDateTabActive()" data-target="#issue-dates" data-toggle="tab">
                    Issue dates
                </a>
            </li>

            <li role="presentation" class="liTabPointer" [ngClass]="{'active':adAdjustmentTab, 'noclick':adAdjustmenTabDisable, 'setPointer':setCursorPointer}">
                <a id="ad-adjustments-tab" (click)="setAdAdjustmentTabActive()" data-target="#ad-adjustments"
                    data-toggle="tab">
                    Ad adjustments
                </a>
            </li>

            <li role="presentation" class="liTabPointer" [ngClass]="{'active':rateCardTab, 'noclick':rateCardTabDisable, 'setPointer':setCursorPointer}">
                <a id="rate-cards-tab" (click)="setRateCardTabActive()" data-target="#rate-cards" data-toggle="tab">
                    Rate cards
                </a>
            </li>

            <li role="presentation" class="liTabPointer" [ngClass]="{'active':rateCardsDetailsTab, 'noclick':rateCardsDetailsTabDisable, 'setPointer':setCursorPointer}">
                <a id="rate-cards-details-tab" (click)="setRateCardsDetailsTabActive()" data-target="#rate-cards-details"
                    data-toggle="tab">
                    Rate cards details
                </a>
            </li>

            <li role="presentation" class="liTabPointer" [ngClass]="{'active':inventoryDetailsTab, 'noclick':inventoryDetailsTabDisable, 'setPointer':setCursorPointer}">
                <a id="inventory-details-tab" (click)="setInventoryDetailsTabActive()" data-target="#inventory-details"
                    data-toggle="tab">
                    Inventory management
                </a>
            </li>
        </ul>

        <div class="tab-content">

            <div *ngIf="mediaAssetTab==true" class="tab-pane in" [class.active]="mediaAssetTab==true" id="media-assets">
                <asi-mediaAssets></asi-mediaAssets>
            </div>

            <div *ngIf="issueDateTab==true" class="tab-pane in" [class.active]="issueDateTab==true" id="issue-dates">
                <asi-issueDates></asi-issueDates>
            </div>
            
            <div *ngIf="adAdjustmentTab==true" class="tab-pane in" [class.active]="adAdjustmentTab==true" id="ad-adjustments">
                <asi-AdAdjustment></asi-AdAdjustment>
            </div>

            <div *ngIf="rateCardTab==true" class="tab-pane in" [class.active]="rateCardTab==true" id="rate-cards">
                <asi-rateCard></asi-rateCard>
            </div>

            <div *ngIf="rateCardsDetailsTab==true" class="tab-pane in" [class.active]="rateCardsDetailsTab==true" id="rate-cards-details">
                <asi-rateCardDetailsFinal></asi-rateCardDetailsFinal>
            </div>

            <div *ngIf="inventoryDetailsTab==true" class="tab-pane fade in" [class.active]="inventoryDetailsTab==true" id="inventory-details">
                <asi-inventoryDetails></asi-inventoryDetails>
            </div>

        </div>

    </div>
</div>
