<div>
    <form name="inventoryDetailsForm" [formGroup]="inventoryDetailsForm">
        <div class="main-tab-content">
            <div class="tab-header">
                <h5>Inventory details for
                    <span>{{mediaAssetName}}</span>
                </h5>
            </div>
            <div class="tabContent" style="overflow: unset;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ddlissuedate" class="asteriskRequired">Issue date</label>
                            <div class="clearfix"></div>

                            <ng-select [items]="issueDates"  [(ngModel)]="fIdArray"  id="ddlissuedate" placeholder="Select issue date"
                                bindLabel="CoverDate" [multiple]="true" formControlName="SelectedIssueDateValue"
                                (change)="changeIssueDate()">
                            </ng-select>

                            <div *ngIf="isValidIssueDate"
                                class="text-danger">
                                <span *ngIf="inventoryDetailsForm.controls['SelectedIssueDateValue'].hasError('required')">
                                    Issue date is required.
                                </span>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="ddladsize" class="asteriskRequired">
                                Ad size
                            </label>
                            <div class="clearfix"></div>

                            <ng-select [items]="adSizes" [(ngModel)]="sIdArray" bindLabel="Name" formControlName="SelectedAdSizeValue"
                                id="ddladsize" (change)="changeAdSize()" placeholder="Select Ad Size" [multiple]="true">
                            </ng-select>
                            <div *ngIf="isValidAdSize"
                                class="text-danger">
                                <span *ngIf="inventoryDetailsForm.controls['SelectedAdSizeValue'].hasError('required')">
                                    Ad size is required.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="button" class="blueBtn createBtn" id="btninventoryDetails" (click)="createInventoryDetailsTable()">
                                Create Matrix
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div *ngIf="isInventoryDetails==false" style="height:450px;overflow-y: auto;">
                            <div class="rateCardTitle">{{mediaAssetName}}</div>
                            <div class="table-responsive custom-table inventory-table">
                                <table class="table" id="inventoryDetailsTable">
                                    <thead>
                                        <tr id="inventoryDetailsTableTH" [innerHTML]="inventoryDetailsTblTHHTML | safe: 'html'"></tr>
                                    </thead>
                                    <tbody id="inventoryDetailsTableTbody" [innerHTML]="inventoryDetailsTableTbodyHTML | safe: 'html'"></tbody>
                                    <tbody id="inventoryDetailsTableTbody" *ngIf="isShowDefaultTable == true">
                                        <tr>
                                            <td colspan="8" class="setTextCenter">No record is found</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table" id="inventoryDetailsTableChk" *ngIf="isApplyCheckBoxShow == true">                                                                
                                    <tbody id="inventoryDetailsTableTbodyChk">
                                        <tr>
                                            <td style="text-align: center;">
                                                <input type="checkbox" class="checkthis ng-pristine ng-untouched ng-valid ng-empty"
                                                id="chkApplyAll" (change)="checkboxChange($event)"> Apply to all issues
                                            </td>
                                        </tr>                                  
                                    </tbody>
                                </table>

                            </div>

                            <div *ngIf="isAddOrEditButton==true" style="padding: 10px 15px;text-align: center;">                            
                                <button type="button" class="blueBtn createBtn" id="btnInventoryDetails" (click)="saveInventoryDetails()">
                                    {{addOrEdit}} inventory Details
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>