<div class="main-tab-content">
    <div class="tab-header">
        <h5>Issue dates for
            <span>{{mediaAssetsName}}</span>
        </h5>
    </div>
    <div class="tabContent">
        <div class="tabContentHeader">
            <div class="tabContentHeaderTitle">
                <h6>{{addOREdit}} issue dates</h6>
            </div>
            <div class="search-container">
                <input type="text" name="" placeholder="Search issue date in (yyyy-mm-dd) formt" id="txtSearchIssueDate" />
                <img src="{{websiteRoot}}/{{imgurl}}/search-icon.png" style="cursor:pointer;" alt="Search Issue Date" (click)="searchIssueDates()" />
            </div>
        </div>
        <div class="tabContentArea">
            <div class="row">
                <form id="issueDateForm" [formGroup]="issueDateForm" (ngSubmit)="saveIssueDate()">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CoverDate" class="asteriskRequired">Issue date</label>

                            <div class="input-group date">
                                <input type="text" [bsConfig]="{containerClass: 'theme-default' }" class="form-control" (bsValueChange)="onIssueDateChange($event)"
                                    formControlName="CoverDate" placeholder="Select issue date" bsDatepicker>

                                <div class="input-group-addon">
                                    <img src="{{websiteRoot}}/{{imgurl}}/calendar-icon-bw.png" alt="" />
                                </div>
                                <div *ngIf="isValidCoverDate"
                                    class="text-danger">
                                    <span *ngIf="issueDateForm.controls['CoverDate'].hasError('required') ">
                                        Issue date is required.
                                    </span>
                                </div>
                            </div>
                        </div>
                      
                        <div class="form-group">
                            <label for="AdClosingDate">Ad closing date</label>
                             
                            <div class="input-group date">
                                
                                <input type="text" formControlName="AdClosingDate" placeholder="Select ad closing date" class="form-control" [bsConfig]="{containerClass: 'theme-default' }"
                                    bsDatepicker>
                                <div class="input-group-addon">
                                    <img src="{{websiteRoot}}/{{imgurl}}/calendar-icon-bw.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="MaterialDueDate">Materials due date</label>
                            
                            <div class="input-group date" data-date-format="mm/dd/yyyy">
                                <input type="text" [bsConfig]="{containerClass: 'theme-default' }" formControlName="MaterialDueDate" placeholder="Select ad closing date"
                                    class="form-control"  bsDatepicker>
                                <div class="input-group-addon">
                                    <img src="{{websiteRoot}}/{{imgurl}}/calendar-icon-bw.png" alt="" />
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="IssueName">Issue name</label>
                            <input type="text" class="form-control" formControlName="IssueName" placeholder="Enter issue name">
                        </div>
                        <div class="form-group">
                            <label for="IssueCode">Issue code</label>
                            <input type="text" class="form-control" formControlName="IssueCode" placeholder="Enter issue code">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="blueBtn createBtn" id="btnIssueDates">Create</button>
                        </div>
                    </div>
                </form>
                <div class="col-md-9">
                    <div data-loading></div>
                    <div class="table-responsive custom-table">
                        <table datatable [dtOptions]="issueDatesOptions" [dtTrigger]="issueDatesdtTrigger" class="table">
                            <thead>
                                <tr>
                                    <th>Issue date</th>
                                    <th>Ad closing date</th>
                                    <th>Materials due date</th>
                                    <th>Issue name</th>
                                    <th>Issue code</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="this.issueDatesModel.IssueDateData.length != 0">
                                <tr *ngFor="let row of this.issueDatesModel.IssueDateData; let idx = index">
                                    <td>{{row.CoverDate | date: 'MM/dd/yyyy'}}</td>
                                    <td>{{row.AdClosingDate | date: 'MM/dd/yyyy'}}</td>
                                    <td>{{row.MaterialDueDate | date: 'MM/dd/yyyy'}}</td>
                                    <td>{{row.IssueName}}</td>
                                    <td>{{row.IssueCode}}</td>
                                    <td class="actions">
                                        <a (click)="editIssueDate(row.IssueDateId,row.CoverDate,row.AdClosingDate,
                                                    row.MaterialDueDate,row.IssueName,row.IssueCode)" title="Edit">
                                            <img src="{{websiteRoot}}/{{imgurl}}/edit-icon.png" alt="" />
                                        </a>
                                        <a (click)="delete(row.IssueDateId, idx)" data-toggle="modal" data-target="#mediaAssetDelete" title="Delete">
                                            <img src="{{websiteRoot}}/{{imgurl}}/delete-icon.png" alt="" />
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>