<form name="rateCardDetailsForm" novalidate>
  <div class="main-tab-content">
    <div class="tab-header">
      <h5>Rate cards details for
        <span>{{mediaAssetName}}</span>
      </h5>
    </div>
    <div class="tabContent">
      <div class="tabContentHeader">
        <div class="tabContentHeaderTitle">
          <h6>Add details for
            <span> {{rateCardName}}</span>
          </h6>
        </div>
      </div>
      <div class="tabContentArea">
        <div class="row">
          <form name="rateCardDetailsForm" [formGroup]="rateCardDetailsForm" (submit)="createRateCardDetailsTable()">
            <div class="col-md-4">
              <div class="form-group">
                <label for="pcode" style="opacity: 0.5;">Rate card name</label>
                <div class="clearfix"></div>
                <div class="filledData">{{rateCardName}}</div>
              </div>
              <div class="form-group">
                <label for="pcode" style="opacity: 0.5;">Ad type</label>
                <div class="clearfix"></div>
                <div class="filledData" name="AdTypeId" id="AdTypeId">{{adTypeName}}</div>
              </div>

              <div class="form-group">
                <a class="add-link" data-toggle="modal" data-target="#adColorModal">
                  <img src="{{websiteRoot}}/{{imgurl}}/add-icon.png" alt="" />
                </a>
                <label for="AdColorName" class="asteriskRequired">Ad color</label>
                <div class="clearfix"></div>

                <ng-select formControlName="AdColor" [items]="adColors" bindLabel="Name" bindValue="AdColorId" placeholder="Select ad color name" id="ddlAdColor" (change)="changeAdColor($event.Name)">
                  <!-- <ng-option *ngFor="let items of adColors" [value]="items.AdColorId" [title]="items.Name">
                   {{items.Name.replace("&","&")}}
                  </ng-option> -->
                  
                </ng-select>

                <div *ngIf="isValidAdColor"
                  class="text-danger">
                  <span *ngIf="rateCardDetailsForm.controls['AdColor'].hasError('required') ">
                    Ad color is required.
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="Ad Size" class="asteriskRequired">Ad size
                  <a class="add-link manage-link" data-toggle="modal" data-target="#adSizeModal">
                    <img src="{{websiteRoot}}/{{imgurl}}/add-icon-white.png" alt="" /> Manage
                  </a>
                </label>
                <div class="clearfix"></div>

                <ng-select [items]="adSizes"   [(ngModel)]="objSizeArray" id="adjtarget1" placeholder="Select ad size" bindLabel="Name"
                  [multiple]="true" formControlName="AdSizeValue" (change)="changeAdSizes()">
                </ng-select>


                <div *ngIf="isValidAdSizeValue"
                  class="text-danger">
                  <span *ngIf="rateCardDetailsForm.controls['AdSizeValue'].hasError('required')">
                    Ad size is required.
                  </span>
                </div>
              </div>

              <div class="form-group">
                <a class="add-link" data-toggle="modal" data-target="#FrequencyModal">
                  <img src="{{websiteRoot}}/{{imgurl}}/add-icon.png" alt="" />
                </a>

                <label for="Frequency" class="asteriskRequired">Frequency</label>
                <div class="clearfix"></div>

                <ng-select [items]="frequencies"  [(ngModel)]="objFrequencyArray"  id="adjtarget2" placeholder="Select frequency" bindLabel="Name"
                  [multiple]="true" formControlName="FrequencyValue" (change)="changeFrequencies()">
                </ng-select>
                <div *ngIf="isValidFrequencyValue"
                  class="text-danger">
                  <span *ngIf="rateCardDetailsForm.controls['FrequencyValue'].hasError('required') ">
                    Frequency is required.
                  </span>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="blueBtn createBtn" id="btnRateCardDetails">
                  Create Rate Card Details Matrix
                </button>
              </div>
            </div>
          </form>


          <div class="col-md-8">
            <div *ngIf="isMultipleRateCardsDetails == false" style="height:450px;overflow-y: auto;">
              <div class="rateCardTitle">{{colorName}}</div>
              <div class="table-responsive custom-table rateCard-table" id="table">
                <table class="table" id="rateCardsDetailsTable">
                  <thead>
                    <tr id="rateCardsDetailsTableTH" [innerHTML]="this.rateCardsDetailsTblTHHTML | safe: 'html'"></tr>
                  </thead>
                  <tbody id="rateCardsDetailsTableTbody" [innerHTML]="this.rateCardsDetailsTableTbodyHTML | safe: 'html'"></tbody>
                  <tbody id="rateCardsDetailsTableTbody" *ngIf="isShowDefaultTable == true">
                    <tr>
                      <td class="setTextCenter">No record is Found</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <br>
              <div class="form-group text-center">
                <button type="button" class="blueBtn createBtn" id="btnRateCardDetails" (click)="saveRateCardDetails(rateCardDetails);">
                  {{addOrEdit}} Rate Card Details
                </button>
              </div>
            </div>
            <div *ngIf="isMultipleRateCardsDetails == true" style="height:450px;overflow-y: auto;">
              <div id="rateCardsDetailsTableforMultiple" [innerHTML]="this.rateCardsDetailsTblMulHTML | safe: 'html'">
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <form>

    <!-- Ad Color Modal-->
    <form name="adColorModalForm" [formGroup]="adColorModalForm" (ngSubmit)="saveAdColor()">
      <div>
        <div class="modal fade bs-example-modal-sm mampopup in" id="adColorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <div class="form-group">
                  <label for="AdColorName" class="asteriskRequired">Ad color</label>
                  <input formControlName="AdColorName" type="text" class="form-control" placeholder="Enter ad color name">
                  <div *ngIf="isValidAdColorName"
                    class="text-danger">
                    <span *ngIf="adColorModalForm.controls['AdColorName'].hasError('required') ">
                      Ad color is required.
                    </span>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="submit" id="btnadColor" class="blueBtn">Add Ad Color
                </button>
                <button class="blueBtn" type="button" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <!-- Ad Size Modal-->
    <form name="adSizeModalForm" [formGroup]="adSizeModalForm" (ngSubmit)="saveAdSize()">
      <div class="modal fade bs-example-modal-sm mampopup" id="adSizeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-body">

              <div class="form-group">
                <label for="AdSizeName" class="asteriskRequired">Ad size</label>
                <input formControlName="AdSizeName" type="text" class="form-control" placeholder="Enter ad size">
                <div *ngIf="isValidAdSizeName"
                  class="text-danger">
                  <span *ngIf="adSizeModalForm.controls['AdSizeName'].hasError('required') ">
                    Ad size is required.
                  </span>
                </div>
              </div>

              <div class="form-group">
                <label for="PageFraction" class="asteriskRequired">Page fraction</label>
                <input formControlName="PageFraction" type="text" class="form-control" placeholder="Enter page fraction">
                <div *ngIf="isValidPageFraction"
                  class="text-danger">
                  <span *ngIf="adSizeModalForm.controls['PageFraction'].hasError('required') ">
                    Page fraction is required.
                  </span>
                </div>
              </div>

            </div>

            <div class="modal-footer">
              <button type="submit" id="btnadSize" class="blueBtn">Add Ad Size
              </button>
              <button class="blueBtn" type="button" data-dismiss="modal">Cancel</button>
            </div>

          </div>
        </div>
      </div>
    </form>

    <!-- Ad Frequency Modal-->
    <form name="frequencyModalForm" [formGroup]="frequencyModalForm" (ngSubmit)="saveFrequency()">
      <div class="modal fade bs-example-modal-sm mampopup" id="FrequencyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-body">
              <div class="form-group">
                <label for="FrequencyName" class="asteriskRequired">Frequency</label>
                <input formControlName="FrequencyName" type="text" class="form-control" placeholder="Enter frequency name">
                <div *ngIf="isValidFrequencyName"
                  class="text-danger">
                  <span *ngIf="frequencyModalForm.controls['FrequencyName'].hasError('required') ">
                    Frequency name is required.
                  </span>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" id="btnFrequency" class="blueBtn">Add Frequency
              </button>
              <button class="blueBtn" type="button" data-dismiss="modal">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </form>
