<div class="main-tab-content">
    <div class="tab-header">
        <h5>Ad adjustments for
            <span>{{mediaAssetsName}}</span>
        </h5>
    </div>
    <div class="tabContent">
        <div class="tabContentHeader">
            <div class="tabContentHeaderTitle">
                <h6>{{addOREdit}} ad adjustments</h6>
            </div>
            <div class="search-container">
                <input type="text" name="" placeholder="Search ad adjustments" id="txtSearchAdAdjustement" />
                <img src="{{websiteRoot}}/{{imgurl}}/search-icon.png" style="cursor:pointer;" alt="Search Ad Adjustment" (click)="searchAdAdjustment()" />
            </div>
        </div>
        <div class="tabContentArea">
            <div class="row">
                <form id="adAdjustmentsForm" [formGroup]="adAdjustmentsForm" (ngSubmit)="saveAdjustments()">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ProductCode" class="asteriskRequired">Product code</label>

                            <div class="clearfix"></div>

                            <ng-select formControlName="ProductCode" placeholder="Select item code">
                                <ng-option *ngFor="let items of this.adAdjustmentModel.MediaAssetItemCode"
                                    [value]="items.ItemId">
                                    {{items.ItemCode + " " + "(" + items.Name +")"}}
                                </ng-option>
                            </ng-select>
                            <div *ngIf="isValidProductCode" class="text-danger">
                                <span *ngIf="adAdjustmentsForm.controls['ProductCode'].hasError('required') ">
                                    Code is required.
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="AdAdjustmentName" class="asteriskRequired">Ad adjustment name</label>
                            <input formControlName="Adjustment" type="text" class="form-control"
                                placeholder="Enter ad adjustment name" />
                            <div *ngIf="isValidAdjustment" class="text-danger">
                                <span *ngIf="adAdjustmentsForm.controls['Adjustment'].hasError('required') ">
                                    Adjustment name is required.
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="col-md-12 setDivBorder">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="Amount" formControlName="AmountPercent"> Amount
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="Percent" formControlName="AmountPercent"> Percent
                                        </label>
                                    </div>
                                </div>
                                <div *ngIf="isValidAmountPercentage" class="text-danger">
                                    <span *ngIf="adAdjustmentsForm.controls['AmountPercent'].hasError('required') ">
                                        Amount or percent selection is required.
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="col-md-12 setDivBorder">
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="Surcharge" formControlName="SurchargeDiscount">
                                            Surcharge
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" value="Discount" formControlName="SurchargeDiscount">
                                            Discount
                                        </label>
                                    </div>
                                </div>
                                <div *ngIf="isValidSurchargeDiscount" class="text-danger">
                                    <span *ngIf="adAdjustmentsForm.controls['SurchargeDiscount'].hasError('required') ">
                                        Surcharge or Discount selection is required.
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="AdjustmentTarget" class="asteriskRequired">Adjustments target</label>
                            <div class="clearfix"></div>

                            <ng-select formControlName="AdjustmentsTarget" placeholder="Select adjustments target"
                                [items]="this.adAdjustmentModel.adAdjustmentsTargets" bindLabel="Name" bindValue="Name">
                            </ng-select>


                            <div *ngIf="isValidAdjustmentsTarget" class="text-danger">
                                <span *ngIf="adAdjustmentsForm.controls['AdjustmentsTarget'].hasError('required') ">
                                    Adjustments target is required.
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="AdjustmentValue" class="asteriskRequired">Adjustments value</label>

                            <input formControlName="AdjustmentsValue" type="text" class="form-control"
                                placeholder="Enter adjustments value" />
                            <div *ngIf="isValidAdjustmentsValue" class="text-danger">
                                <span *ngIf="adAdjustmentsForm.controls['AdjustmentsValue'].hasError('required') ">
                                    Adjustment value is required.
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" id="btnAdAdjustment" class="blueBtn createBtn">Create</button>
                        </div>

                    </div>
                </form>
                <div class="col-md-8">
                    <div class="table-responsive custom-table">
                        <table class="table" datatable [dtOptions]="adAdjustmentdtOptions"
                            [dtTrigger]="adAdjustmentdtTrigger">
                            <thead>
                                <tr>
                                    <th>Ad adjustment name</th>
                                    <th>Amount | Percent</th>
                                    <th>Surcharge | Discount</th>
                                    <th>Adjustment value</th>
                                    <th>Product code</th>
                                    <th style="min-width:75px;"></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="this.adAdjustmentModel.AdjustmentData.length != 0">
                                <tr *ngFor="let adAdjustment of this.adAdjustmentModel.AdjustmentData; let idx = index">
                                    <td>{{adAdjustment.Name}}</td>
                                    <td>{{adAdjustment.AmountPercent == 0 ? "Amount" : adAdjustment.AmountPercent == 1 ? "Percent" : ""}}</td>
                                    <td>{{adAdjustment.SurchargeDiscount == 0 ? "Surcharge" : adAdjustment.SurchargeDiscount == 1 ? "Discount" : ""}}</td>
                                    <td>{{adAdjustment.AdjustmentValue}}</td>
                                    <td>{{adAdjustment.ProductCode}}</td>
                                    <td class="actions">
                                        <a (click)="editadAdjustments(adAdjustment.AdAdjustmentId, adAdjustment.ProductCode, adAdjustment.Name,adAdjustment.AmountPercent,
                                            adAdjustment.SurchargeDiscount, adAdjustment.AdjustmentTarget, adAdjustment.AdjustmentValue)"
                                            title="Edit">
                                            <img src="{{websiteRoot}}/{{imgurl}}/edit-icon.png" alt="" />
                                        </a>
                                        <a (click)="delete(adAdjustment.AdAdjustmentId, idx)" title="Delete">
                                            <img src="{{websiteRoot}}/{{imgurl}}/delete-icon.png" alt="" />
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>